*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.seagreen{
    background-color: seagreen;
}
.crimson{
    background-color: crimson;
}
.hide{
    display: none;
}
.flex{
    display: flex;
}
.container{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 15% 500px 10% auto 15%;
    grid-template-rows: auto 100px 300px 100px auto;
}
.container > #container-campo{
    grid-column: 2;
    grid-row: 2/5;
    background-color: black;
    flex-wrap: wrap;
    border: 3px solid crimson;
}
#container-campo > .casella{
    width: 5%;
    height: 5%;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container-campo>.casella>i{
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cointainer-info{
    grid-column: 4;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#cointainer-info>#btn{
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    color: crimson;
    font-weight: bold;
    margin-bottom: 15px;
    transition: .5s;
}
#cointainer-info>#btn:hover{
    padding: 20px 30px;
}